<div>

  <nav class="navbar navbar-expand-lg mx-md-4 d-flex justify-content-between" style="font-family: sans-serif;">


    <div><u><a href="#" data-toggle="modal" data-target="#fullHeightModalLeft" class="text-dark">exploration</a></u>
    </div>
    <div style=" font-size: 30px">Studio de Lamaa</div>
    <div><u><a href="#" data-toggle="modal" data-target="#fullHeightModalRight" class="text-dark">about us</a></u></div>
  </nav>

  <div>
    <div class="modal fade right" id="fullHeightModalLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">

      <div class="modal-dialog modal-frame modal-full-height modal-top-left" role="document">

        <div class="modal-content">
          <div class="modal-body text-dark">
            <span class="underline">
              exploration
            </span>


            <div class="col-md-4" id="publications">PUBLICATIONS </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>Paysage,art,
                          métropole </u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">Les "micro-fictions" accompagnent l'article
                      de Frédéric Bonnet «Le paysage ou la valorisation des milieux habités» dans l’ouvrage collectif
                      «Paysage, art, métropole» édité par le PUCA, Archibook
                      <br />
                      + Marc Sautereau éditions. 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>Europan 14 - villes productives</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      <a href="#">Catalogue des résultats, Edition Europan, 256 p.</a><br />
                      <a href="#">Catalogue des résultats, Edition Europan France, 329 p.</a><br />
                      <a href="#">Catalogue des résultats, Edition Europan Espagne, 158 p.</a><br />
                      <a href="#"><i>La fabrica de suelos (projet mentionné). 2018</i></a><br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

            <div class="col-md-4" id="publications">EXPOSITIONS </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Imaginer le littoral de demain" </u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Présentation du projet "Rester au prêcheur" au Palais de la Porte Dorée dans le cadre de l'appel à
                      idées porté par le ministère de l'environnement, de l’énergie et de la mer.

                      2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"L'outilleur auvergnat"</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Biennale d’architecture de Lyon, travaux exposés dans le cadre du domaine d’étude EVAN, ENSACF.
                      2017
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Nouvelles richesses"</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Présentation des "micro-fictions" au Pavillon Français, Biennale de Venise, dans le cadre de
                      l'exposition produite par l’équipe Obras/Ajap 2014. 2016
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Architectures dessinées"</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Présentation des "micro-fictions" à l'ENSACF dans le cadre de l'exposition produite par le 308 -
                      Maison de l'Architecture en Nouvelle-Aquitaine. 2016
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

            <div class="col-md-4" id="publications">WORKSHOPS</div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Productive Brussels"</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Réflexion sur la thématique "Food-scape" (production alimentaire à l'échelle de l’agglomération
                      bruxelloise)

                      dans le cadre du forum inter-session Europan Europe 14 à Bruxelles. Avec Natalia Vera Vigaray,
                      Patxi Martin, Laura Castagne, Clemence Aubrée et Agnes Jacquin. 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

            <div class="col-md-4" id="publications">COLLOQUES</div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Eaux et paysages"</u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Colloque international à l’INSA Val de Loire de Blois organisé dans le cadre de la Biennale Nature
                      et Paysage, explorant la thématique de l’eau par l'Ecole de la Nature et du Paysage de l’INSA
                      Centre Val de Loire. Présentation du projet "Rester au prêcheur" au sein de la session l'eau dans
                      le projet de territoire. 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>"Littoral en expérimentation"

                        </u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">
                      Séminaire & restitution des travaux "Rester au prêcheur" au Prêcheur, organisé par l’Unité
                      Littoral de la DEAL Martinique et la commune du Prêcheur.

                      Ateliers de travail avec Pascal Saffache, BRGM, l’Agence des 50 pas géométriques, ADUAM, ADEME,
                      CRESS, EDF/SME, ARS. 8 mars 2018
                      <br />
                      <br />
                      ​

                      Forum Bodlanmé 5 au Palais des Congrès Madiana, organisé par l’Agence des 50 pas géométriques, en
                      partenariat avec le comité d’organisation Bodlanmè. Présentation du Prêcheur laboratoire
                      d’aménagement littoral. du 6 au 8 juin 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

          </div>
        </div>
      </div>
    </div>

  </div>
  <br />


  <div>
    <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">

      <div class="modal-dialog modal-frame modal-full-height modal-top-right" role="document">

        <div class="modal-content">
          <div class="modal-body text-dark"><u>about us</u>
            <br />
            <br />
            <br />

            <div class="col-md-4" id="publications">MINH QUANG DANG </div>
            <br />

            <div class="row">
              <div class="us">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><img src="/assets/images/quang_portflio.jpg"
                        style="width:120px; height:120px"></div>
                    <div class="col-8 col-sm-9 " id="quang">Quang xinh
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />






  <div class="row">

    <img src="/assets/images/lamaa1.jpg" (click)="clicked()" class=" img-fluid" data-toggle="modal"
      data-target="#fullHeightModalLeft" />


    <img src="/assets/images/lamaa2.jpg" (click)="clicked()" class="img-fluid" data-toggle="modal"
      data-target="#fullHeightModalLeft" />


    <img src="/assets/images/lamaa3.png" (click)="clicked()" class="img-fluid" data-toggle="modal"
      data-target="#fullHeightModalLeft" />


    <img src="/assets/images/lamaa4.jpg" (click)="clicked()" class="img-fluid" data-toggle="modal"
      data-target="#fullHeightModalLeft" />

  </div>


  <!--modal img-->

  <div>
    <div class="modal fade right" id="fullHeightModalLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">

      <div class="modal-dialog modal-frame modal-full-height modal-top-left" role="document">

        <div class="modal-content">
          <div class="modal-body text-dark"><u>exploration</u>
            <br />
            <br />
            <br />

            <div class="col-md-4" id="publications">PUBLICATIONS </div>
            <br />

            <div class="row">
              <div class="paysage">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-4 col-sm-3 "><i><u>Paysage,art,
                          métropole </u></i></div>
                    <div class="col-8 col-sm-9 " id="bonnet">Les "micro-fictions" accompagnent l'article
                      de Frédéric Bonnet «Le paysage ou la valorisation des milieux habités» dans l’ouvrage collectif
                      «Paysage, art, métropole» édité par le PUCA, Archibook
                      <br />
                      + Marc Sautereau éditions. 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

          </div>


        </div>


      </div>

      <div id="background" style="z-index:9999">
        <div class="row" style="margin-left: 50%;">

          <img src="/assets/images/lamaa1.jpg" style=" width: 40px; height: 60px;" />


          <img src="/assets/images/lamaa2.jpg" style=" width: 40px; height: 60px;" />


          <img src="/assets/images/lamaa3.png" style=" width: 40px; height: 60px;" />


          <img src="/assets/images/lamaa4.jpg" style="width: 40px; height: 60px;" />

        </div>
      </div>



    </div>

  </div>

  <br />


</div>

<app-gallery-image></app-gallery-image>