
.modal-top-left{
    margin-left: -0.1%;
    margin-top:-0.8%;
   
}

.modal-top-right{
    margin-right: -1.3%;
    margin-top: -0.8%;
}

.paysage {
    padding-left: 5%;
    font-size: 13px;
}

#bonnet {
    padding-left: 0%;
    
}

a{
    color:black;
}

.us{
    padding-left: 5%;
    font-size: 13px;
}

#quang{
    padding-left: 35%;
}

